<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeDigger.Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CodeDigger.Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <p id="cy">CY
        </p>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <button onclick="draw()">CLICK ME</button>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CodeDigger.Portal - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        //function draw()
        {
            circleRadii = [40, 20, 10];
            var svgContainer = d3.select("p").append("svg")
                .attr("width", 600)
                .attr("height", 100);

            var circles = svgContainer.selectAll("circle")
                .data(circleRadii)
                .enter()
                .append("circle");

            var circleAttributes = circles
                .attr("cx", 50)
                .attr("cy", 50)
                .attr("r", function (d) { return d; })
                .style("fill", (d)=> {
                    var returnColor;
                    if (d === 40) {
                        returnColor = "green";
                    } else if (d === 20) {
                        returnColor = "purple";
                    } else if (d === 10) { returnColor = "red"; }
                     return returnColor;
                });
        }        
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
